
/**
 * @file
 * The base styles for the OOCSS theme. Should be copied and then modified
 * for sub-themes.
 *
 * This CSS file does contain CSS hacks. This conflicts with current Drupal
 * coding standards for CSS (http://drupal.org/node/302199). This is done
 * largely to keep all styles consistent with the base OOCSS libraries.
 *
 * Hacks used here and in OOCSS:
 *   - Underscore Hack: http://en.wikipedia.org/wiki/CSS_filter#Underscore_hack
 *   - Star Plus Hack: http://en.wikipedia.org/wiki/CSS_filter#Star_HTML_hack
 *   - Overflow Float Clear: http://www.quirksmode.org/css/clearing.html
 *   - Zoom hasLayout Hack: http://msdn.microsoft.com/en-us/library/bb250481%28VS.85%29.aspx
 */

/* OOCSS mod classes */



/* Grid sizes */
.size1of10 { width: 10%;}
.size2of10 { width: 20%;}
.size3of10 { width: 30%;}
.size4of10 { width: 40%;}
.size5of10 { width: 50%;}
.size6of10 { width: 60%;}
.size7of10 { width: 70%;}
.size8of10 { width: 80%;}
.size9of10 { width: 90%;}

.liquidLimits{margin:0 10%;max-width:1024px;min-width:200px;}

h1, h2, h3, h4, h5, h6, ul, ol,dl, p,blockquote {padding:0;}
h1, h2, h3, h4, h5, h6,img{padding-bottom:0;}


th, td{border:none;}
.pageTitle{
    color:#346199;
    border-bottom: 2px solid #346199;
    padding-bottom:.5em;
    margin-bottom:1em;
}

.node {font-size:120%;padding-right:.5em;}
.node p {
    margin:.25em 0 .5em 0;
}
.node img {
    width:90%;
    max-width:400px;
}
/* OOCSS Overides */
.head {
    margin-bottom:1em;
}
.head .line {
    border-bottom:2px solid #eee;
}
.primaryLinks {
    margin-top:1em;
    text-align:right;
}
.primaryLinks li {
    display:inline;  
}

.primaryLinks li a {
  padding:0.25em 1em;
}
.primaryLinks li.last a {
  padding-right:0;
}
.siteLogo{
 	display:block; 
	width:100%; 
	height:110px;
	text-indent:-9999em;
}

.head .noLogo{
    width:auto;
    height:auto;
    text-indent:0;
    background-image:none;
}

